{% extends "layout.html" %}
{% block body %}
    <h2>Game Explorer</h2>
    <form action="{{ url_for('game_explorer') }}" id="game_explorer_form" method="post">
        <fieldset>
        <legend>Search Criteria:</legend>
        <dl>
            <dt>ELO:</dt>
            <dd> 
                <input type="number" name="elo_min" placeholder="min" size="15"> 
                <input type="number" name="elo_max" placeholder="max" size="15"> 
            </dd>
             
            <dt>Date:</dt>
            <dd>
                <input type="date" name="date_min" placeholder="min" size="15"> 
                <input type="date" name="date_max" placeholder="max" size="15">
            </dd>

            <dt>Number of moves:</dt>
            <dd>
                <input type="number" name="num_moves_min" placeholder="min" size="15">
                <input type="number" name="num_moves_max" placeholder="max" size="15">
            </dd>

            <dt>White Player:</dt>
            <dd>
                <select name="white_player" form="game_explorer_form">
                {% for player in white_players %}       
                    <option value="{{player.name}}" size="15">{{player.name}}</option>   
                {% endfor %} 
                </select>   
            </dd>

            <dt>Black Player:</dt>
            <dd>
                <select name="black_player" form="game_explorer_form">
                {% for player in black_players %}       
                    <option value="{{player.name}}" size="15">{{player.name}}</option>   
                {% endfor %} 
                </select>   
            </dd>

            <dt>ECO:</dt>
            <dd> 
                <input type="text" name="eco" placeholder="A00-Z99" size="15"> 
            </dd>

            <dd><input type="submit" value="Find games">
        </dl>
        </fieldset>
    </form>
    
    <fieldset>
    <legend> Results: </legend> <br>
    {% if entries %}
        <em>{{number_of_matches}} game(s) matched the search </em><br>
    {% end if %}    
        <div class="entries">
            <table style="width:100%" class="entries">
                <tr>
                    <th>View</th>
                    <th>Date</th>
                    <th>White</th>   
                    <th>Black</th>
                    <th>W ELO</th>
                    <th>B ELO</th>
                    <th>Event</th>
                    <th>Site</th>
                    <th>ECO</th>
                    <th>Opening</th>
                    <th>Round</th>
                    <th>Res</th>
                    <th># Mvs</th>
                </tr>
                {% if entries %}   
                {% for game in entries %}
                <tr>
                    <td>
                        <form action="{{ url_for('pgn_viewer') }}" method="post">
                            <input type="number" name="gid" value="{{game.gid}}" hidden>
                            <input type="submit" value="view">
                        </form>
                    </td>
                    <td>{{ game.Date }}</td>
                    <td>{{ game.White }}</td>
                    <td>{{ game.Black }}</td>
                    <td>{{ game.WhiteElo }}</td>
                    <td>{{ game.BlackElo }}</td>
                    <td>{{ game.Event }}</td>
                    <td>{{ game.Site }}</td>
                    <td>{{ game.ECO }}</td>
                    <td>{{ game.Opening }} ({{ game.Variation}})</td>
                    <td>{{ game.Round }}</td>
                    <td>{{ game.Result }}</td>
                    <td>{{ game.number_of_moves }}</td>
                </tr>   
                {% endfor %} 
                {% else %}
                <tr><td colspan=13 height="280px" >
                    <center><em>Enter a new search  to fill this table with appropriate games</em></center>
                    </td>
                </tr>
                {% endif %}      
            </table>
        </div>    
    </fieldset>

    {% if entries %}    
        <div class=pagination>
          {%- for page in pagination.iter_pages() %}
            {% if page %}
              {% if page != pagination.page %}
                <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
              {% else %}
                <strong>{{ page }}</strong>
              {% endif %}
            {% else %}
              <span class=ellipsis>…</span>
            {% endif %}
          {%- endfor %}
          {% if pagination.has_next %}
            <a href="{{ url_for_other_page(pagination.page + 1)
              }}">Next &raquo;</a>
          {% endif %}
        </div>
    {% endif %}
{% endblock %}

