<!doctype html>
<title>ChessDB</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>ChessDB</h1>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <h2>Register</h2>
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('register') }}" method="post">
    <dl>
      <dt>*Username:
      <dd><input type="text" name="username"  placeholder="4-20 chars (e.g chessdude)" pattern=".{4,20}"  maxlength="20" size="50" required >
      <dt>*Password:
      <dd><input type="password" name="password" placeholder="4-20 chars" pattern=".{4,20}" maxlength="20" size="50" required>
      <dt>*Confirm Password:
      <dd><input type="password" name="cpassword"  placeholder="4-20 chars" pattern=".{4,20}"  maxlength="20" size="50" required>
      <dt>E-mail:
      <dd><input type="email" name="email" placeholder="(e.g. chessdude@chessDB.com)"  maxlength="50" size="50">
       <p> * = required </p>
      <dd><input type="submit" value="Register">
    </dl>
  </form>
</div>